<section id="account-management" class="container mt-4">
  <h4>{{ 'customer.heading.newAccount' | translate }}</h4>
  <div class="input-group">
    <select id="create-account" class="form-control" aria-label="Select new account type" [(ngModel)]="newAccountType">
      <option *ngFor="let accountType of ACCOUNT_TYPES" [value]="accountType">
        {{ 'customer.label.' + accountType | translate }}
      </option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="createAccount()">{{ 'customer.label.confirm' | translate }}</button>
    </div>
  </div>
  <app-success-message
    *ngIf="createdAccount"
    [translationCode]="'customer.message.accountCreated'"
    [translationParams]="createdAccount">
  </app-success-message>
</section>
