<section id="home" *ngIf="authService.loggedIn" class="container">
  <h1>Accounts</h1>
  <div class="mt-2 mb-2">
    <span>Filters </span>
    <div class="btn-group" role="group" aria-label="Account types">
      <button type="button" class="btn btn-secondary" id="all" (click)="filterAccounts(all.id, '!')" #all>All</button>
      <button type="button" class="btn btn-secondary" id="savings" (click)="filterAccounts(savings.id, '!')" #savings>Savings</button>
      <button type="button" class="btn btn-secondary" id="current" (click)="filterAccounts(current.id, '!')" #current>Current</button>
    </div>
  </div>
  <div class="mt-2 mb-2">
    <input type="text" placeholder="Search" (keyup)="filterAccounts(undefined, pattern.value)" #pattern />
  </div>
  <div class="list-group">
    <div *ngFor="let account of filteredAccounts" class="list-group-item">
      <a class="link" (click)="router.navigateByUrl('/transactions/' + account.accountNumber)">
        <div class="d-flex justify-content-between">
          <div>
            {{ account.accountNumber }}
          </div>
          <div>
            <span>{{ account.balance | currency }}</span>
            <span class="ml-4">❯</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
